body {
  font-family: 'Lato', sans-serif;
}

/* --- Sidebar --- */

.sidebar-main {
  width: 33.33%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #264d73;
}

/* --- Main --- */

.main-container {
  width: 66.66%;
  height: 100%;
  float: right;
  text-indent: 7.5em;
}

/* --- SearchBar --- */

.searchbar-container {
  height: 3em;
  margin-top: 20px;
}

.searchbar-header {
  font-weight: lighter;
  text-align: center;
  color: white;
}

.searchbar-form {
  height: 75%;
  text-align: center;
}

input:focus {
  outline: none;
}

.searchbar {
  height: 100%;
  width: 75%;
  text-indent: 1.25em;
  border: none;
  z-index: 1;
  font-weight: lighter;
}

.rounded {
  border-radius: 25px;
}

.search-btn {
  border: none;
  background-color: #FFFFFF;
  margin-left: -3em;
}

.magnify-img:hover {
  transform: scale(1.25);
}

/* --- Drug List --- */

.drug-header {
  text-indent: 0;
  text-align: center;
  font-weight: lighter;
}


/* --- Drug Items --- */
.header-styles > .drug-items {
    opacity: 1.0;
}

.header-styles:hover > .drug-items:not(:hover) {
    opacity: 0.5;
}

.list-group-item.drug-items {
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  text-indent: 0;
}


/* --- Responsiveness --- */

@media (min-width: 414px) {
  div.container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

/* --- iPad Pro --- */
@media only screen and (max-width: 1024px) and (max-height: 1366px) {
    .sidebar-main {
      width: 33%;
      background-size: cover;
      background-position: 65%;
    }
    .main-container {
      width: 66.66%;
      height: 100%;
      text-indent: 0;
      text-align: center;
    }
    .searchbar-header {
      margin: 0.5em 0 0.25em 0;
      font-size: 3em;
    }
    .searchbar-form {
      position: relative;
      margin: 3em auto;
      width: 100%;
      text-align: center;
    }
}

/* --- iPad --- */
@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .searchbar-header {
    margin: 0;
    font-size: 2em;
  }
  .searchbar {
    font-size: 0.75em;
  }
  .searchbar-form {
    margin: 2em auto;
  }
}

/* --- Nexus 5X/6P & iPhone 6Plus --- */
@media only screen and (max-width: 414px) and (max-height: 736px) {
    .sidebar-main {
      width: 100%;
      display: inline-block;
      background-size: cover;
    }
    .main-container {
      margin-top: 5em;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 100%;
    }
    .searchbar-container {
      margin-top: 1.5em;
    }
    .searchbar-header {
      font-size: 3em;
      margin-bottom: 0.25em;
    }
    .searchbar-form {
      margin: 0;
    }
    .searchbar {
      width: 17em;
    }
    .drug-header {
      color: white;
      padding-top: 0.75em;
    }
}

/* --- iPhone 6 --- */
@media only screen and (max-width: 375px) and (max-height: 667px) {
  .searchbar-header {
    margin-bottom: 0.5em;
  }
}

/* --- Galaxy S5 --- */
@media only screen and (max-width: 360px) and (max-height: 640px) {
  .searchbar {
    text-indent: 3.5em;
  }
}

/* --- iPhone 5 --- */
@media only screen and (max-width: 320px) and (max-height: 568px) {
  .searchbar {
    width: 15.75em;
    text-indent: 2.75em;
  }
  .searchbar-form {
    text-align: inherit;
  }
}
